@import 'styles/config/mixins';

.button {
  @include text-small;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid $color-black;
  background-color: $color-white;

  @include media-breakpoint-down(md) {
    padding-bottom: 2px;
  }

  @include hover {
    &:hover,
    &:focus-within {
      color: $color-white;
      background-color: $color-black;
    }
  }
}

.normal {
  height: 20px;
}

.big {
  height: 35px;
}
