@import 'styles/config/mixins';

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  max-width: calc(25px * 5); // BUTTON_SIZE * WINDOW_SIZE
  transform: translateX(-50%);

  @include media-breakpoint-up(md) {
    bottom: 8px;
  }
}

.dots-wrap {
  display: flex;
  transition: transform 0.3s ease;
}

.dot {
  width: 9px;
  height: 9px;
  margin: 8px;
  opacity: initial;
  border: 0.5px solid $color-gray-1;
  border-radius: initial;
  background: transparent;

  @include media-breakpoint-up(md) {
    border-width: 1px;
  }

  &_active {
    transform: none;
    background: $color-white;
  }
}
