@import 'styles/config/mixins';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-black;

  &.active {
    background-color: $color-gray-6;
  }

  @include media-breakpoint-up(md) {
    width: 55px;
    height: 55px;
  }

  @include hover {
    &:not(:disabled):hover {
      background-color: $color-gray-6;
    }
  }
}

.button-icon {
  color: $color-white;
  font-size: 48px;

  .button:disabled & {
    color: $color-gray-4;
  }
}
