@import 'styles/config/mixins';

.container {
  display: grid;
  grid-template-rows: 75vh 1fr;

  @include media-breakpoint-up(mdm) {
    grid-template: auto / 1fr 12px 1fr;
  }
}

.image {
  object-fit: cover;

  &-wrapper {
    position: relative;
    z-index: 2;
    height: 100%;

    @include media-breakpoint-up(mdm) {
      position: sticky;
      top: 0;
      height: 100vh;
      padding-bottom: calc(100% * 760 / 714);
    }
  }
}

.scrollbar {
  position: relative;
  z-index: 1;

  @include media-breakpoint-down(mdm) {
    display: none;
  }
}
